In [1]:
# Scribing a data - real estate, Minsk, 2022. Source: Realt.by

In [2]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

In [3]:
url = 'https://realt.by/sale/flats/?search=eJwryS%2FPi89LzE1VNXXKycwGUi5AlgGQslV1MVC1dAaRThZg0kXVxVDVwhDMdlSLL04tKS0AKi5KTY4vSC2KL0hMB2m3NTUAAACpF9w%3D&page=1'

r = requests.get(url)
r.text;

In [4]:
soup = BeautifulSoup(r.text, 'lxml')
soup;

In [5]:
# soup.findAll('div', class_='teaser-tile teaser-tile-right')
soup.find('div', class_='listing-item highlighted')

<div class="listing-item highlighted" data-mode="3" data-page="1" data-region="0">
<div class="highlight-icon special-icon">
<img alt="Спецпредложение" src="https://realt.by/fileadmin/realt.adaptive/images/highlight-icons/special.svg"/>
</div>
<div class="teaser-tile teaser-tile-left">
<a class="favorite" href="javascript:void(0);" onclick="bm(this); return false;" title="Добавить в Избранное">
<i aria-hidden="true" class="fa fa-heart-o"></i>
</a>
<div class="bmcontainer" content='{"code":"2889433","table_id":"1","group_id":"1"}' style="display:none;"></div>
<a class="image mb-0" href="https://realt.by/sale/flats/object/2889433/" target="_blank" title="VIP Евродвушка возле ст.м. Кунцевщина">
<img alt="VIP Евродвушка возле ст.м. Кунцевщина" class="lazy" data-original="https://static.realt.by/thumb/c/600x450/316396cb962cc3ac3a68d2baf527e76d/22/3/site1kbbr322/95caa08da1.jpg" src="https://realt.by/fileadmin/realt.adaptive/images/no-photo/600x450.png"/>
</a>
<div class="desc-mini desc-mini-top">
<div class="color-graydark">
<span>
																														Фрунзенский район,																																						</span>
								Минск, Тимошенко 2-й пер., 7
							</div>
<div class="metro-red">
										Кунцевщина
									</div>
<div class="info">
<span>
                    2-комн.
            </span>
<span>44.3 м<sup>2</sup></span> <span>13/19 этаж</span>
</div>
</div>
<div class="desc-mini desc-mini-bottom">
<div class="row no-gutters align-items-center color-black fs-huge">
<div class="col-auto text-truncate" data-toggle="tooltip" title="205 509 BYN">
<strong>205 509 BYN</strong>
</div>
<span class="bargain ml-6"> торг </span>
</div>
<div class="row no-gutters align-items-center color-dark">
<div class="col-auto text-truncate" data-toggle="tooltip" title="Цены в валюте указаны справочно по курсу Национального банка на сегодняшнюю дату. Цена:
                    84 900 USD
        ">
</div>
<a class="col-auto price-switchable" data-643="5 160 300 RUB" data-840="84 900 USD" data-933="" data-978="83 168 EUR" data-content="5 160 300 RUB&lt;br&gt;205 509 BYN&lt;br&gt;84 900 USD&lt;br&gt;83 168 EUR&lt;br&gt;" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover" role="button" tabindex="0">
<img alt="Валюта" class="d-block ml-6" src="https://realt.by/fileadmin/realt.adaptive/images/svg-icons/currency.svg"/>
</a>
</div>
<div>
<noindex>
<a class="fin-service-link" data-buildingyear="2020" data-exceptionobjectid="2889433" data-obdnuuid="0cc5e1c2-829e-11ec-ad48-dee111c4eff3" data-objectpricescurrency-1="84 900" data-objectpricescurrency-2="205 509" data-objectpricescurrency-3="83 168" data-objectpricescurrency-4="5 160 300" data-productcategory="sale_flats" data-stateregionid="5" data-townid="5102" href="https://realt.by/sale/flats/object/2889433/#fin-block" style="display: none;"></a>
</noindex>
</div>
</div>
</div>
<div class="teaser-tile teaser-tile-right">
<div class="desc">
<div class="info-mini color-graydark">
<span class="pictures">25</span> <span class="views">713</span> <span>21.11.2022</span>
<span class="flex-grow-1 justify-content-md-end">ID 2889433</span>
</div>
<a class="teaser-title" href="https://realt.by/sale/flats/object/2889433/" target="_blank" title="VIP Евродвушка возле ст.м. Кунцевщина">
								VIP Евродвушка возле ст.м. Кунцевщина
							</a>
<div class="location color-graydark">
																	г. Минск, пер. Тимошенко 2-й, д.7 (Фрунзенский район)
															</div>
<div class="metro-red">
										Кунцевщина
									</div>
<div class="info-large">
<span>
                    2-комн.
            </span>
<span>44.3 м<sup>2</sup></span> <span>13/19 этаж</span>
</div>
<div class="info-text info-more">
<div class="fs-small color-dark">
<p><strong>13/19</strong> панельный, площадь 44,30/27/18, лоджия застекленная, телефон: есть, год постройки 2020, Из техники в квартире: холодильник SAMSUNG, индукционная панель MAUNFIELD, духовой шкаф SIEMENS, вытяжка EXITEQ, 2 телевизора LG NANO, стиральная машина SAMSUNG, сушильная машина BOSCH. Теплые полы ванная/туалет/коридор. В туалете инсталляция GROHE.</p>
</div>
</div>
</div>
<div class="contacts">
<div class="logo">
<img alt="Группа компаний Мариэлт" src="https://realt.by/typo3temp/pics/bf/76/bf763f16fddceac0dd12f64c063a4d5e.png"/>
</div>
<div class="info">
<div class="seller">
<span class="color-graydark">
											Группа компаний Мариэлт
										</span>
</div>
<a class="phone-preview" href="https://realt.by/sale/flats/object/2889433/#phones" onclick="dataLayer.push({'event': 'click-phone-list', 'code': 2889433});" target="_blank" title="VIP Евродвушка возле ст.м. Кунцевщина">
<span class="color-black">+375 29 315-29-... </span>
</a>
</div>
</div>
</div>
</div>

In [6]:
adr = soup.find('div', class_='listing-item highlighted').find('div', class_='location color-graydark').text.strip()
adr

'г. Минск, пер. Тимошенко 2-й, д.7 (Фрунзенский район)'

In [16]:
# curancy - /2.4935
price = soup.find('div', class_='listing-item highlighted').find('div', class_='col-auto text-truncate').find('strong').text.strip().split()[0:2]
price

['205', '509']

In [21]:
rooms = soup.find('div', class_='listing-item highlighted').find('div', class_='info-large').findAll('span')[0].text.strip()
rooms

'2-комн.'

In [22]:
area = soup.find('div', class_='listing-item highlighted').find('div', class_='info-large').findAll('span')[1].text
area

'44.3 м2'

In [23]:
floor = soup.find('div', class_='listing-item highlighted').find('div', class_='info-large').findAll('span')[2].text
floor

'13/19 этаж'

In [24]:
items = soup.find('div', class_='listing-item highlighted').find('div', class_='info-text info-more').text.strip()
items

'13/19 панельный, площадь 44,30/27/18, лоджия застекленная, телефон: есть, год постройки 2020, Из техники в квартире: холодильник SAMSUNG, индукционная панель MAUNFIELD, духовой шкаф SIEMENS, вытяжка EXITEQ, 2 телевизора LG NANO, стиральная машина SAMSUNG, сушильная машина BOSCH. Теплые полы ванная/туалет/коридор. В туалете инсталляция GROHE.'

In [68]:
estate = soup.findAll('div', class_='listing-item highlighted')

In [25]:
data = []

for p in range(1,100):
    print (p)
    
    url = f'https://realt.by/sale/flats/?search=eJwryS%2FPi89LzE1VNXXKycwGUi5AlgGQslV1MVC1dAaRThZg0kXVxVDVwhDMdlQrSS3KLQaqTYWoBcqYq8UXp5aUFgAFi1KT4wtSi%2BILEtPB8sYGAPZZHTU%3D&page={p}'
    r = requests.get(url)
    sleep(3)
    soup = BeautifulSoup(r.text, 'lxml')
    
    estate = soup.findAll('div', class_='listing-item highlighted')
    
    for i in estate:
        adr = i.find('div', class_='location color-graydark').text.strip()
        if i.find('div', class_='col-auto text-truncate') is not None:
            price = i.find('div', class_='col-auto text-truncate').text.strip()
        rooms = i.find('div', class_='info-large').findAll('span')[0].text.strip()
        area = i.find('div', class_='info-large').findAll('span')[1].text.strip()
        floor = i.find('div', class_='info-large').findAll('span')[2].text.strip()
        items = i.find('div', class_='info-text info-more').text.strip()
    
        data.append([adr, price, rooms, area, floor, items])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

IndexError: list index out of range

In [17]:
header = ['adr', 'price', 'rooms', 'area', 'floor', 'items']
df = pd.DataFrame(data, columns = header)
df.to_csv('soup.csv', sep=';')

In [18]:
len(data)

2000

In [25]:
df.tail()

,adr,price,rooms,area,floor,items,model_0,model_1,model_2,model_3,...,model_32,model_33,model_34,model_35,model_36,model_37,model_38,model_39,model_40,model_41
1995,"г. Минск, ул. Жореса Алфёрова, д.3 (Октябрьски...",115 823 BYN,2-комн.,44.01 м2,2/25 этаж,"[2/25 каркасно-блочный, площадь 44, 01/—/—, ...",2/25 каркасно-блочный,площадь 44,01/—/—,лоджия застекленная,...,,,,,,,,,,
1996,"г. Минск, ул. Жореса Алфёрова, д.3 (Октябрьски...",87 303 BYN,1-комн.,32.57 м2,8/25 этаж,"[8/25 каркасно-блочный, площадь 32, 57/—/—, ...",8/25 каркасно-блочный,площадь 32,57/—/—,лоджия застекленная,...,,,,,,,,,,
1997,"г. Минск, ул. Руссиянова, д.26 (Первомайский р...",62 370 BYN,комната(доля),51.1 м2,2/9 этаж,"[2/9 панельный, площадь 51, 10/11, 29/7, 06, ...",2/9 панельный,площадь 51,10/11,29/7,...,,,,,,,,,,
1998,"г. Минск, ул. Каменногорская, д.102 (Фрунзенск...",169 646 BYN,1-комн.,40.9 м2,4/10 этаж,"[4/10 панельный, площадь 40, 90/17/9, лоджия...",4/10 панельный,площадь 40,90/17/9,лоджия застекленная,...,,,,,,,,,,
1999,"г. Минск, ул. Тикоцкого, д.20 (Первомайский ра...",155 925 BYN,2-комн.,51 м2,6/9 этаж,[Продаётся двухкомнатная квартира. Площадь 51/...,Продаётся двухкомнатная квартира. Площадь 51/31/7,1 м2. Двойная лоджия площадью 7,8 м2. Поставлены новые стеклопакеты,двери в ванной и туалете,...,,,,,,,,,,

In [20]:
df['items'] = df['items'].str.split(',')
df_models = pd.DataFrame(df['items'].tolist()).fillna('').add_prefix('model_')
df = pd.concat([df, df_models], axis=1)

In [26]:
price = df['price'].replace(/[^-.0-9]/g,'')

SyntaxError: invalid syntax (3852409369.py, line 1)